* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  scroll-behavior: smooth;
}

@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 700;
}
a {
  text-decoration: none;
}
body {
  background-color: #f8f9fa;
  color: #212529;
}
h2 {
  padding: 0 10px 0 0;
}
/* header style */

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  background-color: #f8f9fa;
}
.containerF {
  width: 90%;
  max-width: 1000px;
  padding: 60px;
  margin: auto;
  overflow: hidden;
}
h1 {
  font-size: 50px;
}

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-bottom: 2px solid transparent;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  /* transition: ease-in-out 0.5s; */
}
.nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  background: #ffffff;
}
nav .logo {
  height: 100px;
}
nav .logo img {
  height: 100%;
  vertical-align: top;
}
.link-header {
  font-weight: 300;
}
.nav .link-header a {
  margin: 0 30px 0 0;
  text-decoration: none;
  color: #495057;
  transition: 0.2s;
  padding-right: 2px;
}
.nav .link-header a:hover {
  color: #00b0ff;
  border-bottom: 2px solid;
  border-right: 2px solid;
}
.hamburguer {
  display: none;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #00b0ff;
  z-index: 2;
  cursor: pointer;
  /* transition: color 0.5s ease-in; */
}
.hamburguer span {
  font-size: 40px;
  font-weight: 700;
  line-height: 100px;
}
.content-header {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-header img {
  width: 50%;
  animation: ease-in animate 0.3s;
}

.text-header {
  margin: 0 0 0 60px;
}

.content-header p {
  font-weight: 100;
  margin: 30px 5px 0 0;
  color: #495057;
}
.content-header a {
  margin: 40px 0 0 40px;
  padding: 15px 0;
  width: 150px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  border-radius: 6px;
  background-color: #00b0ff;
  box-shadow: 0 8px 32px rgba(0, 176, 255, 0.5);
}

/* about us */
.title {
  font-size: 50px;
}
.about-us {
  background-color: #f8f9fa;
}
.container__article {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-around;
}
.article {
  width: 30%;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 6px;
  padding: 45px 30px 60px 30px;
  transition: 0.7s;
}
.article:hover {
  box-shadow: 0 1px 15px rgba(0, 176, 255, 0.2);
}
.article span {
  font-size: 30px;
  color: #ffffff;
  background-color: #00b0ff;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  border-radius: 6px;
  box-shadow: 0 8px 32px rgba(0, 176, 255, 0.5);
}
.article h3 {
  font-size: 25px;
  margin-top: 30px;
}
.article p {
  font-weight: 100;
  margin-top: 15px;
  padding-bottom: 15px;
  color: #495057;
}
.article a {
  font-weight: 200;
  color: #00b0ff;
  border-bottom: 3px solid;
  border-right: 3px solid;
  padding-right: 3px;
}
.article a:hover {
  border-bottom: 5px solid;
  border-right: 5px solid;
}

/* Questions */
.questions {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions img {
  width: 50%;
  animation: ease-in animate 0.3s;
}

.text__questions p {
  font-weight: 100;
  margin: 30px 5px 0 0;
  color: #495057;
}
.text__questions h2 {
  margin: 0 60px 0 0;
  font-size: 50px;
}
.text__questions a {
  margin: 40px 0 0 40px;
  padding: 15px 0;
  width: 150px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  border-radius: 6px;
  background-color: #00b0ff;
  box-shadow: 0 8px 32px rgba(0, 176, 255, 0.5);
}
.containerR {
  width: 90%;
  height: 550px;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  color: #fff;
}
.results {
  padding-top: 20px;
  background-color: #00b0ff;
}
.content-results {
  display: flex;
  justify-content: space-evenly;
}
.numbers {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.numbers .number {
  width: 45%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 40px 35px;
  margin-bottom: 20px;
}
.numbers .number h4 {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}
.results-text {
  width: 38%;
}
.results-text h4 {
  padding-top: 20%;
  color: #fff;
  font-size: 40px;
}
.results-text p {
  color: #fff;
  font-weight: 300;
  margin: 30% 0;
}
.results-text a {
  color: #fff;
  display: inline-block;
  border: 1px solid #fff;
  width: 140px;
  padding: 15px 0;
  text-align: center;
  border-radius: 6px;
}
.results-text a:hover {
  background: rgba(0, 0, 0, 0.1);
}
